@font-face {
    font-family:Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    padding: 1%;
    display: flex;
}
#nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1% ;
}
h1{
    font-size: 250px;
    font-weight: 400;
    padding-left: 1%;
    color:rgb(0, 0, 0);
}
#leftbtm{
    height: 200px;
    width: 200px;
    margin: 1% 1%;
    color:rgb(0, 0, 0);
    margin-bottom: 2%;
}
#leftbtm h3{
    font-weight: 500;
    margin: 1%;
    padding: 8px;
}
#leftbtm p{
    padding: 8px;
    font-size: 12px;
}
#lower{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#lower a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
#main >img{

    position: abs;
    position: absolute;
    margin-bottom: 1%;
    height: 100px;
}
#main #first{
    height: 300px; 
    top: 43%;
    left: 73%;
    height: 290px;
    border: 5px black;
    border-radius: 4px;
    
}
#main #second{
    height: 340px;
    top: 42%;
    left: 60%;
    border: 5px black;
    border-radius: 4px;
}
#main #third{
    height: 320px;
    top: 38%;
    left: 45%;
    border: 5px black;
    border-radius: 4px;
}

/* 
Padding – Inside the element
Margin – Outside the element */